WSLogica/App_WebReferences/ServicioData/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLinea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Linea" nillable="true" type="tns:Linea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinea" nillable="true" type="tns:ArrayOfLinea" />
  <xs:complexType name="Linea">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trenes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Linea" nillable="true" type="tns:Linea" />
  <xs:complexType name="ArrayOfEstacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estacion" nillable="true" type="tns:Estacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstacion" nillable="true" type="tns:ArrayOfEstacion" />
  <xs:complexType name="Estacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="estacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiempo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estacion" nillable="true" type="tns:Estacion" />
</xs:schema>