ServicioBatch/ServicioBatch/Service References/ServicioData/ServicioData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43279/WSData/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43279/WSData/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:43279/WSData/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:43279/WSData/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_obtenerAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAdministrador" />
  </wsdl:message>
  <wsdl:message name="IService_obtenerAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarAdministrador" />
  </wsdl:message>
  <wsdl:message name="IService_modificarAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_estadoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:estadoServicio" />
  </wsdl:message>
  <wsdl:message name="IService_estadoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:estadoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_actualizarLlegadas_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarLlegadas" />
  </wsdl:message>
  <wsdl:message name="IService_actualizarLlegadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarLlegadasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_verificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:verificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_verificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:verificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_crearLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:crearLinea" />
  </wsdl:message>
  <wsdl:message name="IService_crearLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_crearEstacion_InputMessage">
    <wsdl:part name="parameters" element="tns:crearEstacion" />
  </wsdl:message>
  <wsdl:message name="IService_crearEstacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearEstacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarLinea" />
  </wsdl:message>
  <wsdl:message name="IService_modificarLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarEstacion_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstacion" />
  </wsdl:message>
  <wsdl:message name="IService_modificarEstacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarEstadoLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstadoLinea" />
  </wsdl:message>
  <wsdl:message name="IService_modificarEstadoLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstadoLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarEstadoEstacion_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstadoEstacion" />
  </wsdl:message>
  <wsdl:message name="IService_modificarEstadoEstacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstadoEstacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarLinea" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarEstacion_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarEstacion" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarEstacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarEstacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_buscarLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarLinea" />
  </wsdl:message>
  <wsdl:message name="IService_buscarLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_buscarEstacion_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarEstacion" />
  </wsdl:message>
  <wsdl:message name="IService_buscarEstacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarEstacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:generarListaLinea" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:generarListaLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaEstaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:generarListaEstaciones" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaEstaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:generarListaEstacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_obtenerLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerLinea" />
  </wsdl:message>
  <wsdl:message name="IService_obtenerLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_obtenerEstacion_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerEstacion" />
  </wsdl:message>
  <wsdl:message name="IService_obtenerEstacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerEstacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_verificarEstadoLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:verificarEstadoLinea" />
  </wsdl:message>
  <wsdl:message name="IService_verificarEstadoLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:verificarEstadoLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_crearTrasbordoSimple_InputMessage">
    <wsdl:part name="parameters" element="tns:crearTrasbordoSimple" />
  </wsdl:message>
  <wsdl:message name="IService_crearTrasbordoSimple_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearTrasbordoSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_crearTrasbordoDoble_InputMessage">
    <wsdl:part name="parameters" element="tns:crearTrasbordoDoble" />
  </wsdl:message>
  <wsdl:message name="IService_crearTrasbordoDoble_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearTrasbordoDobleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoGeneral" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoLineasGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoLineasGeneral" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoLineasGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoLineasGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoSimple_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoSimple" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoSimple_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoDoble_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoDoble" />
  </wsdl:message>
  <wsdl:message name="IService_eliminarTrasbordoDoble_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTrasbordoDobleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarTrasbordoGeneralEstacion_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarTrasbordoGeneralEstacion" />
  </wsdl:message>
  <wsdl:message name="IService_modificarTrasbordoGeneralEstacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarTrasbordoGeneralEstacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaTrasbordoD_InputMessage">
    <wsdl:part name="parameters" element="tns:generarListaTrasbordoD" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaTrasbordoD_OutputMessage">
    <wsdl:part name="parameters" element="tns:generarListaTrasbordoDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaTrasbordoS_InputMessage">
    <wsdl:part name="parameters" element="tns:generarListaTrasbordoS" />
  </wsdl:message>
  <wsdl:message name="IService_generarListaTrasbordoS_OutputMessage">
    <wsdl:part name="parameters" element="tns:generarListaTrasbordoSResponse" />
  </wsdl:message>
  <wsdl:message name="IService_modificarTrasbordoGeneralLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarTrasbordoGeneralLinea" />
  </wsdl:message>
  <wsdl:message name="IService_modificarTrasbordoGeneralLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarTrasbordoGeneralLineaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="obtenerAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/obtenerAdministrador" message="tns:IService_obtenerAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/obtenerAdministradorResponse" message="tns:IService_obtenerAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarAdministrador" message="tns:IService_modificarAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarAdministradorResponse" message="tns:IService_modificarAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="estadoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/estadoServicio" message="tns:IService_estadoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/estadoServicioResponse" message="tns:IService_estadoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarLlegadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/actualizarLlegadas" message="tns:IService_actualizarLlegadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/actualizarLlegadasResponse" message="tns:IService_actualizarLlegadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/verificarUsuario" message="tns:IService_verificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/verificarUsuarioResponse" message="tns:IService_verificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/crearLinea" message="tns:IService_crearLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/crearLineaResponse" message="tns:IService_crearLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearEstacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/crearEstacion" message="tns:IService_crearEstacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/crearEstacionResponse" message="tns:IService_crearEstacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarLinea" message="tns:IService_modificarLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarLineaResponse" message="tns:IService_modificarLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarEstacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarEstacion" message="tns:IService_modificarEstacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarEstacionResponse" message="tns:IService_modificarEstacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarEstadoLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarEstadoLinea" message="tns:IService_modificarEstadoLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarEstadoLineaResponse" message="tns:IService_modificarEstadoLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarEstadoEstacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarEstadoEstacion" message="tns:IService_modificarEstadoEstacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarEstadoEstacionResponse" message="tns:IService_modificarEstadoEstacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/eliminarLinea" message="tns:IService_eliminarLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/eliminarLineaResponse" message="tns:IService_eliminarLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarEstacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/eliminarEstacion" message="tns:IService_eliminarEstacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/eliminarEstacionResponse" message="tns:IService_eliminarEstacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/buscarLinea" message="tns:IService_buscarLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/buscarLineaResponse" message="tns:IService_buscarLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarEstacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/buscarEstacion" message="tns:IService_buscarEstacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/buscarEstacionResponse" message="tns:IService_buscarEstacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generarListaLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/generarListaLinea" message="tns:IService_generarListaLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/generarListaLineaResponse" message="tns:IService_generarListaLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generarListaEstaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/generarListaEstaciones" message="tns:IService_generarListaEstaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/generarListaEstacionesResponse" message="tns:IService_generarListaEstaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/obtenerLinea" message="tns:IService_obtenerLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/obtenerLineaResponse" message="tns:IService_obtenerLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerEstacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/obtenerEstacion" message="tns:IService_obtenerEstacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/obtenerEstacionResponse" message="tns:IService_obtenerEstacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verificarEstadoLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/verificarEstadoLinea" message="tns:IService_verificarEstadoLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/verificarEstadoLineaResponse" message="tns:IService_verificarEstadoLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearTrasbordoSimple">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/crearTrasbordoSimple" message="tns:IService_crearTrasbordoSimple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/crearTrasbordoSimpleResponse" message="tns:IService_crearTrasbordoSimple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearTrasbordoDoble">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/crearTrasbordoDoble" message="tns:IService_crearTrasbordoDoble_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/crearTrasbordoDobleResponse" message="tns:IService_crearTrasbordoDoble_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoGeneral" message="tns:IService_eliminarTrasbordoGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoGeneralResponse" message="tns:IService_eliminarTrasbordoGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoLineasGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoLineasGeneral" message="tns:IService_eliminarTrasbordoLineasGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoLineasGeneralResponse" message="tns:IService_eliminarTrasbordoLineasGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoSimple">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoSimple" message="tns:IService_eliminarTrasbordoSimple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoSimpleResponse" message="tns:IService_eliminarTrasbordoSimple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoDoble">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoDoble" message="tns:IService_eliminarTrasbordoDoble_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/eliminarTrasbordoDobleResponse" message="tns:IService_eliminarTrasbordoDoble_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarTrasbordoGeneralEstacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarTrasbordoGeneralEstacion" message="tns:IService_modificarTrasbordoGeneralEstacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarTrasbordoGeneralEstacionResponse" message="tns:IService_modificarTrasbordoGeneralEstacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generarListaTrasbordoD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/generarListaTrasbordoD" message="tns:IService_generarListaTrasbordoD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/generarListaTrasbordoDResponse" message="tns:IService_generarListaTrasbordoD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generarListaTrasbordoS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/generarListaTrasbordoS" message="tns:IService_generarListaTrasbordoS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/generarListaTrasbordoSResponse" message="tns:IService_generarListaTrasbordoS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarTrasbordoGeneralLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/modificarTrasbordoGeneralLinea" message="tns:IService_modificarTrasbordoGeneralLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/modificarTrasbordoGeneralLineaResponse" message="tns:IService_modificarTrasbordoGeneralLinea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerAdministrador">
      <soap:operation soapAction="http://tempuri.org/IService/obtenerAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarAdministrador">
      <soap:operation soapAction="http://tempuri.org/IService/modificarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoServicio">
      <soap:operation soapAction="http://tempuri.org/IService/estadoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarLlegadas">
      <soap:operation soapAction="http://tempuri.org/IService/actualizarLlegadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/verificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearLinea">
      <soap:operation soapAction="http://tempuri.org/IService/crearLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearEstacion">
      <soap:operation soapAction="http://tempuri.org/IService/crearEstacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarLinea">
      <soap:operation soapAction="http://tempuri.org/IService/modificarLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarEstacion">
      <soap:operation soapAction="http://tempuri.org/IService/modificarEstacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarEstadoLinea">
      <soap:operation soapAction="http://tempuri.org/IService/modificarEstadoLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarEstadoEstacion">
      <soap:operation soapAction="http://tempuri.org/IService/modificarEstadoEstacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarLinea">
      <soap:operation soapAction="http://tempuri.org/IService/eliminarLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarEstacion">
      <soap:operation soapAction="http://tempuri.org/IService/eliminarEstacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarLinea">
      <soap:operation soapAction="http://tempuri.org/IService/buscarLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarEstacion">
      <soap:operation soapAction="http://tempuri.org/IService/buscarEstacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarListaLinea">
      <soap:operation soapAction="http://tempuri.org/IService/generarListaLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarListaEstaciones">
      <soap:operation soapAction="http://tempuri.org/IService/generarListaEstaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerLinea">
      <soap:operation soapAction="http://tempuri.org/IService/obtenerLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEstacion">
      <soap:operation soapAction="http://tempuri.org/IService/obtenerEstacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarEstadoLinea">
      <soap:operation soapAction="http://tempuri.org/IService/verificarEstadoLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearTrasbordoSimple">
      <soap:operation soapAction="http://tempuri.org/IService/crearTrasbordoSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearTrasbordoDoble">
      <soap:operation soapAction="http://tempuri.org/IService/crearTrasbordoDoble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoGeneral">
      <soap:operation soapAction="http://tempuri.org/IService/eliminarTrasbordoGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoLineasGeneral">
      <soap:operation soapAction="http://tempuri.org/IService/eliminarTrasbordoLineasGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoSimple">
      <soap:operation soapAction="http://tempuri.org/IService/eliminarTrasbordoSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTrasbordoDoble">
      <soap:operation soapAction="http://tempuri.org/IService/eliminarTrasbordoDoble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarTrasbordoGeneralEstacion">
      <soap:operation soapAction="http://tempuri.org/IService/modificarTrasbordoGeneralEstacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarListaTrasbordoD">
      <soap:operation soapAction="http://tempuri.org/IService/generarListaTrasbordoD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarListaTrasbordoS">
      <soap:operation soapAction="http://tempuri.org/IService/generarListaTrasbordoS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarTrasbordoGeneralLinea">
      <soap:operation soapAction="http://tempuri.org/IService/modificarTrasbordoGeneralLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioData">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:43279/WSData/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>