WAInterfaz/PruebaFinal/Service References/servicioLogica/Service51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11430/WSLogica/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Linea">
    <xs:sequence>
      <xs:element minOccurs="0" name="estaciones" nillable="true" type="tns:ArrayOfEstacion" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroTrenes" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Linea" nillable="true" type="tns:Linea" />
  <xs:complexType name="ArrayOfEstacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estacion" nillable="true" type="tns:Estacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstacion" nillable="true" type="tns:ArrayOfEstacion" />
  <xs:complexType name="Estacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreEstacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estacion" nillable="true" type="tns:Estacion" />
  <xs:complexType name="ArrayOfTrasbordoDoble">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrasbordoDoble" nillable="true" type="tns:TrasbordoDoble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrasbordoDoble" nillable="true" type="tns:ArrayOfTrasbordoDoble" />
  <xs:complexType name="TrasbordoDoble">
    <xs:sequence>
      <xs:element minOccurs="0" name="estacion1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estacion2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrasbordoDoble" nillable="true" type="tns:TrasbordoDoble" />
  <xs:complexType name="ArrayOfLinea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Linea" nillable="true" type="tns:Linea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinea" nillable="true" type="tns:ArrayOfLinea" />
  <xs:complexType name="ArrayOfTrasbordoSimple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrasbordoSimple" nillable="true" type="tns:TrasbordoSimple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrasbordoSimple" nillable="true" type="tns:ArrayOfTrasbordoSimple" />
  <xs:complexType name="TrasbordoSimple">
    <xs:sequence>
      <xs:element minOccurs="0" name="estacion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lineas" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrasbordoSimple" nillable="true" type="tns:TrasbordoSimple" />
  <xs:complexType name="Administrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Administrador" nillable="true" type="tns:Administrador" />
</xs:schema>